/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/default.conf
/storage/app/public/*
/storage/app/database.sqlite*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.env
.idea
.vscode
/themes/admin/node_modules
/themes/admin/dist
